* {
    box-sizing: border-box;
}

body {
    text-align: center;
    min-height: 100vh;
    margin: 0;
    background-color: #E3B5A4;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 20px;
}

.btn {
    margin-top: 20px;
    background-color: #C5EFCB;
    font-size: large;
    width: 200px;
}

.container {
    display: block;
    text-align: left;
    background-color: #C5EFCB;
    padding: 40px;
    margin: 40px auto;
    border: 3px solid #5A716A;
    border-radius: 5px;
    max-width: 90%;
}

.message-text {
    padding: 15px;
    font-size: large;
}

.input {
    margin-left: 15px;
    width: 95%;
    height: 100px;
}

.timer {
    margin-top: 3rem;
    font-size: 3rem;
    font-weight: bold;
}